<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Productos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<style type="text/css">
		
		tbody tr>th:nthchild(2n) {
			
			background-color: #ffffa2;
		}
	</style>
</head>

<body>
	<h1 class="text-center">Productos en venta</h1>
	<table class="table table-bordered w-50 mx-auto">
		<thead>
			<tr class="bg-primary text-light">
				<th>Número</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Disponible desde</th>
				<th>Oferta</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="producto : ${listaProductos}" class="bg-warning">
				<td th:text="${productoStat.count}"></td>
				<td th:text="${producto.descripcion}">Silla roja</td>
				
				<td th:text="${#numbers.formatDecimal(producto.precio, 1, 2)+ ' €'}">$350</td>
				
				<td th:text="${#temporals.format(producto.fecha, 'dd-MM-YY HH:mm')}">8-Julio-1976</td>
				<td><span class="text-info">Oferta especial!!</span></td>
			</tr>
		</tbody>
	</table>
</body>

</html>